<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}deathlessons.org{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="max-width: 820px;">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <a href="/" class="h5 mb-0 text-dark" style="text-decoration:none;">deathlessons.org</a>
      <div>
        <a href="/pricing" class="mr-3">Pricing</a>
        {% if user %}<a href="/account" class="mr-3">Account</a><a href="/logout">Sign out</a>
        {% else %}<a href="/login">Sign in</a>{% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
